* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 50%;
}

.grid-estilo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  justify-content: center;
  gap: 5rem;
  width: 75%;
}
body {
  font-family: "montserrat", "sans-serif";
  font-size: 1.6rem;
  background: #0b1020;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.75rem;
}

h1 {
  margin: 1rem;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.15;
  margin: 3rem 0;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin: 1.5rem 0;
}
p {
  text-align: center;
}

.btn {
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.6rem;
  border-radius: 1rem;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151c38;
  color: #ff7a3d;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 5px;
}

.cabeza ul li a {
  text-decoration: none;
  font-size: 3rem;
  display: flex;
  padding: 2rem;
  color: inherit;
  align-items: center;
  position: relative;
}

.cabeza img {
  width: 8rem;
  height: 5rem;
  margin: 2rem;
}

.cabeza ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.bienvenido {
  background-color: #151c38;
  font-size: 2rem;
  margin: auto;
  padding: 2rem 4rem;
}

.card {
  background-color: #ce7500;
  color: #ffffff;
  width: 30rem;
  border-radius: 0.5rem;
  padding-bottom: 2rem;
  overflow: hidden;
  align-items: center;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 5px;
  margin: 4rem;
}
.card img {
  width: 100%;
  height: 30rem;
}
footer img {
  width: 10rem;
  padding: 0.5rem;
}
footer p {
  gap: 3rem;
  font-size: 3rem;
  padding: 2rem;
}
